body{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding: 0;
}
.tile{
    height: 6rem;
    width:6rem;
    cursor: pointer;
    border:none;
    background-color:white;
}
.container{
    background: none;
    display:grid;
    grid-template-columns: 6rem 0.1rem 6rem 0.1rem 6rem;
    grid-template-rows: 6rem 0.1rem 6rem 0.1rem 6rem;
    box-shadow: 0rem 0rem 1rem rgba(179, 179, 179, 0.366);
}
.line{
    background-color: rgb(113, 113, 113);
}