@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 650;
}
body{
    background-color: #5E35B1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    padding: 0;
}
.tile{
    color:#D1C4E9;
    height: 6rem;
    width:6rem;
    cursor: pointer;
    border:none;
    background:none;
    font-size: 2rem;
}
.container{
    margin-top:2rem;
    margin-bottom:2rem;
    background: none;
    display:grid;
    grid-template-columns: 6rem 0.1rem 6rem 0.1rem 6rem;
    grid-template-rows: 6rem 0.1rem 6rem 0.1rem 6rem;
}
.line{
    background-color: #B388FF;
}
.scoreBoard{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    width: 20rem;
    border: 0.10rem solid  #B388FF;
    border-radius: 0.4rem;
    font-weight: 200;
    font-size: 2rem;
    color: #B388FF;
}
.circle{
    display: flex;
    justify-content: space-between;
    width:7rem;
    padding: 1rem;
}
.cross{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width:7rem;
}
.score{
    width: 3rem;
}
.cross>.score{
    display: flex;
    justify-content: right;
}
#restartButton{
    display: flex;
    align-items: center;
    border:none;
    cursor: pointer;
    background-color: #5E35B1;
    margin-top: 1rem;
    transition: all 5ms ease-in;
}
#restartButton > span{
    color: #D1C4E9 ;
    font-weight: 500;
    margin-right: 0.5rem;
}
#restartButton:hover{
    transform: scale(1.1);
}

#restartButton:active{
    transform: translateY(-0.1rem);
}

#tellingTurns{
    display: flex;
    align-items: center;
    justify-content: center;
    height:1rem;
    margin-bottom: 0.5rem;
    color:#D1C4E9;
}