

/*component basic background*/
.panel{
    display: flex;
    height: 90vh;
    margin:2px;
   
}
.historyPanel{  
    margin: 2px;
    height: 100% -2px;
    background-color: aqua; 
    width:40%;
}
.activePanel{
    display: flex;
    margin: 2px;
    height: 100% -2px;
    background-color: aqua; 
    margin-right: 0px;
    width:60%;
    align-items: center;
    justify-content: center;
}
.header{
    height: 5vh;
    margin:2px;
}
.footer{
    height: 5vh;
    margin:2px;
}
body >div{
    background-color: #212121;
}

/* styling buttons */

.numPad{
    display: grid;
    grid-template-columns:6rem 6rem 6rem 6rem ;
    grid-template-rows:6rem 4rem 4rem 4rem 4rem 4rem;
    box-shadow:0px 0px 2px #212121;
    border: 2px solid;
    
}
.numPad > div{
}
.display{
    background-color: beige;
    grid-column: 1 / 5;
    grid-row:1/1 ;
    box-shadow: inset 0px 0px 2px #212121;
}
.numPad > div > button{
    border-radius: 0;
    border-width:  0.05rem;
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 2px grey;
}