body{
    margin: 0;
    padding: 0;
}

/*component basic background*/
.panel{
    background-color:#1d2225;
    display: flex;
    height: 90vh;   
}
.historyPanel{  
    border-radius: 0.5rem;
    margin:  0.1rem;
    height: 100% -2px;
    background-color: #2b3137;
    width:40%;
}
.activePanel{
    display: flex;
    margin: 0.1rem;
    height: 100% -2px;
    background-color:#24292d; 
    margin-right: 0px;
    width:60%;
    box-shadow: inset 0px 0px 1rem #1d2225;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: #1d2225;
    height: 5vh;
}
.footer{
    background-color: #1d2225;
    height: 5vh;
}
body >div{
    background-color: #212121;
}

/* styling buttons */

.numPad{
    display: grid;
    grid-template-columns:6rem 6rem 6rem 6rem ;
    grid-template-rows:6rem 4rem 4rem 4rem 4rem 4rem;
    box-shadow:0px 0px 2px #212121;
    border: 2px solid;
    
}
.display{
    background-color: beige;
    grid-column: 1 / 5;
    grid-row:1/1 ;
    box-shadow: inset 0px 0px 2px #212121;
}
.numPad > div > button{
    border-radius: 0;
    border-width:  0.05rem;
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: inset 0px 0px 2px grey;
}