@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    font-family: "Roboto", sans-serif;
    color:rgb(58, 58, 58)
}
body{
    display :flex;
    background-color: white;
}
body > div {
    margin:10px;
    width:50vw;
    height:90vh;
    background-color: rgba(237, 237, 237, 0.866);
}

.tile{
    height:3rem;
    width:3rem;

}
.panel1{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

}
.numpad{
    display:grid;
    grid-template-columns:repeat(4,3rem);
    grid-template-rows:repeat(5,3rem);
}
.display{   
    background-color:rgba(237, 237, 237, 0.866);
    border:0.5px solid gray;
    height:4.8rem;
    width:10rem;
    margin:1rem;
    border-radius:5px;
    padding:1rem;
    font-size: 20px;
    overflow: hidden;
    overflow-x: scroll;
}
.panel2 >div{
    margin: 1rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    border:0.5px solid gray;
    border-radius: 4px;

}

.panel2{
    overflow: hidden;
    overflow-y: scroll;
    
}
.updates{
    width:8rem;
    margin: 1rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-top:0.75rem;
    padding-bottom:0.75rem;
    border:0.5px solid gray;
    border-radius: 4px;

}